<div class="max-w-[60%] border border-black rounded-xl rounded-es-none my-2">
  <p class="mx-2 italic text-sm"><%= message.user.display_name || message.user.username %></p>
  <p class="p-1 mx-2"> <%= message.text %> </p>
</div>